body {
  
    background-color: #f0f8ff; 

   
    background-image: url('assets/4krcrj2qvu161.webp');
    
  
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center; 
    
  
    background-attachment: fixed;
}
